$primary-color: #3498db;
$secondary-color: #2ecc71;

$text-color: #333;
$lighter-text: #666;

$background-color: #f4f4f4;
$second-background: #007bff;
$third-background: #0056b3;
$fourth-background: #f5f5f5;

$green: #28a745;
$secondary-green: #218838;
$black: #000;
$white: #ffffff;
$red: #dc3545;
$secondary-red: #c82333;

$shadow-color: rgba(0, 0, 0, 0.1);
$secondary-shadow: rgba(0, 0, 0, 0.5);

$border-color: #f0f0f0;
$secondary-border: #e0e0e0;
