@use "../src/styles/Variables.scss" as colors;

body,
html,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: colors.$border-color;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
